$blue:        #05285e;
$magenta:     #fe5c81;
$gray:        #9da2ab;
$gray-light:  #f2f6f9;
$white:       #ffffff;

.brand {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 15px;

  .container {
    margin-left: 10px;
    font-family: 'Pacifico', cursive;

    .companyName {
      font-size: 32px;
      font-weight: 400;
      margin-bottom: -4px;
    }
    .companyTagline {
      font-size: 14px;
      color: $gray;
    }
  }
}
