.defaultLayout {}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, footer {
  padding: 10px;
  background: gray;
  color: white;
}

.mainContainer {
  padding: 10px;
}

.layoutFooter {}