$blue: #05285e;
$magenta: #fe5c81;
$gray: #9da2ab;
$gray-light: #f2f6f9;
$white: #ffffff;

.menu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  padding: 10px;
  background: $white;
  color: $blue;
  box-shadow: 2px 2px 10px $gray;
  transition: 0.3s all ease-in-out;
}

.list {
  display: flex;
  justify-content: center;

  & li {
    margin: 0px 20px;
  }

  & a {
    color: $blue;
  }
}